name: ci
on:
  push:
    branches:
      - 3.x
  pull_request:
    branches:
      - 3.x

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lua-version: ['5.1', '5.4', 'luajit-master']
    steps:
      - uses: actions/checkout@v4
      - uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: ${{ matrix.lua-version }}
      - name: Run tests
        run: printf '4\n5' | lua menu.lua

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: '5.4'
      - name: Build simploo.lua
        run: printf '1\n5' | lua menu.lua
      - uses: actions/upload-artifact@v4
        with:
          name: simploo
          path: dist/simploo.lua
